<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!--<script type="text/javascript" src="static/js/main.js"></script>-->
    <title>GiftCard Webshop</title>
</head>

<body>
    <div class="container my-5">
        <h1 class="text-center mb-5">GiftCard Webshop</h1>
        <div class="text-center">
            <a href="{% url 'index' %}">HOME</a> | <a href="{% url 'all-cards' %}">ALL CARDS</a> | <a
                href="">LOGIN/REGISTER</a> | <a href="{% url 'shopping-cart' %}">MY CART</a> | <a
                href="{% url 'contact' %}">CONTACT
                US</a>
        </div>
        <br>
        <div class="text-center">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>

</html>