{% extends "base.html" %}

{% block content %}
<h1>{{ giftcard.type }} {{ giftcard.region }} Giftcard {{ giftcard.value }}{{ giftcard.region.currency}}</h1>
<img src="{{ giftcard.image.url }}" height="300"></img>
<b>
    <p>Price: ${{ giftcard.price }}</p>
</b>
<b>
    <p>Region: {{ giftcard.region }}</p>
</b>
<b>
    <p>Value: {{ giftcard.value }}{{ giftcard.region.currency }}</p>
</b>
<b>
    <p>Stock: {{ giftcard.available_stock }}</p>
</b>
{% if giftcard.is_digital %}
<b>
    <p>Delivery: Digital</p>
</b>
{% else %}
<b>
    <p>Delivery: Shipping</p>
</b>
{% endif %}
<a href="">BUY NOW</a>
<a href="">ADD TO CART</a>
<p>Description: {{ giftcard.type.description }}</p>
{% endblock %}