{% extends "base.html" %}

{% block content %}
<h1>{{ giftcard }}</h1>
<img src="{{ giftcard.image.url }}" height="300"></img>
<b>
    <p>Price: ${{ giftcard.price }}</p>
</b>
<b>
    <p>Region: {{ giftcard.region }}</p>
</b>
<b>
    <p>Value: {{ giftcard.value }}{{ giftcard.region.currency }}</p>
</b>
<b>
    <p>Stock: {{ total_stock }}</p>
</b>
{% if giftcard.is_digital %}
<b>
    <p>Delivery: Digital</p>
</b>
{% else %}
<b>
    <p>Delivery: Shipping</p>
</b>
{% endif %}
{% if total_stock == 0 %}
OUT OF STOCK
{% elif cart_stock == total_stock %}
THE MAXIMUM NUMBER OF GIFTCARS HAS BEEN ADDED TO THE CART
{% elif total_stock != 0 %}
<a href="{% url 'buy-now' pk=pk %}">BUY NOW</a>
<a href="{% url 'save-to-cart' pk=pk %}">ADD TO CART</a>
{% endif %}
<p>Description: {{ giftcard.type.description }}</p>
{% endblock %}